<h1>Add a new patron</h1>

<form action="/patrons" method="post">
  <label for="patron_name">Patron name:</label>
  <input id="patron_name" name="patron_name" type="text">
  <br>
  <br>
  <label for="address">Patron address:</label>
  <input id="address" name="address" type="text">
  <br>
  <br>
  <label for="phone">Patron phone number:</label>
  <input id="phone" name="phone" type="text">
  <br>
  <br>
  <button type="submit">Add new patron</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/patrons">View all patrons</a></p>