<h1>Add a new book</h1>

<form action="/books" method="post">
  <label for="title">Book Title: </label>
  <input id="title" name="title" type="text">
  <br>
  <button type="submit">Add book</button>
</form>

<p><a href="/librarians">Back to Librarian Portal</a></p>
<p><a href="/books">View all Books</a></p>
