<h1>Add a new author</h1>

<form action="/authors" method="post">
  <label for="name">Author Name: </label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit">Add author</button>
</form>

<p><a href="/librarians">Back to Librarian Portal</a></p>
<p><a href="/authors">View all Authors</a></p>
